* {
    border: none;
    border-radius: 0;
    font-family: "Hack";
    font-size: 15px;
    min-height: 0;
}

window#waybar{
    background: rgba(40, 42, 54, 0.8);
    color: #f8f8f2;
}

#window {
    font-family: "Hack";
    color: #f8f8f2;
}

#workspaces button {
    padding: 0 15px;
    background: transparent;
    font-family: "Hack";
    font-weight: bold;
    color: #f8f8f2;
}

#workspaces button.focused {
    color: #f8f8f2;
    background: #bd93f9;
}

#mode {
    color: lightgreen;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #tray, #workspaces, #window {
    padding: 0px 12px;
    margin: 0 3px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery.charging:not(.full) {
    color: lightgreen;
}

#battery.warning:not(.charging) {
    color: yellow;
}

#battery.critical:not(.charging) {
    color: red;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#idle_inhibitor.activated {
    color: #bd93f9;
}
